# Decision Tree Classification

## Importing the libraries

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
%matplotlib inline

## Importing the dataset

In [3]:
dataset = pd.read_csv('loan_data.csv')
X = dataset.iloc[:, 2:-1].values
y = dataset.iloc[:, -1].values

In [4]:
dataset.head()

,credit.policy,purpose,int.rate,installment,log.annual.inc,dti,fico,days.with.cr.line,revol.bal,revol.util,inq.last.6mths,delinq.2yrs,pub.rec,not.fully.paid
0,1,debt_consolidation,0.1189,829.10,11.350407,19.48,737,5639.958333,28854,52.1,0,0,0,0
1,1,credit_card,0.1071,228.22,11.082143,14.29,707,2760.000000,33623,76.7,0,0,0,0
2,1,debt_consolidation,0.1357,366.86,10.373491,11.63,682,4710.000000,3511,25.6,1,0,0,0
3,1,debt_consolidation,0.1008,162.34,11.350407,8.10,712,2699.958333,33667,73.2,1,0,0,0
4,1,credit_card,0.1426,102.92,11.299732,14.97,667,4066.000000,4740,39.5,0,1,0,0

## Splitting the dataset into the Training set and Test set

In [5]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 101)

## Feature Scaling

In [6]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

## Training the Decision Tree Classification model on the Training set

In [7]:
from sklearn.tree import DecisionTreeClassifier
classifier = DecisionTreeClassifier(criterion = 'entropy', random_state = 101)
classifier.fit(X_train, y_train)

DecisionTreeClassifier(criterion='entropy', random_state=101)

## Make a Prediction

In [8]:
y_pred = classifier.predict(X_test)
y_pred

array([0, 0, 0, ..., 0, 1, 0], dtype=int64)

In [9]:
df=pd.DataFrame(y_test, y_pred)
df

    0
0   0
0   0
0   0
0   0
0   0
.. ..
0   0
0   0
0   0
1   0
0   0

[2395 rows x 1 columns]

## Making the Confusion Matrix

In [13]:
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

print('Confusion_matrix: ','\n',confusion_matrix(y_test, y_pred))
print ('\n')
print('Classification_report: ','\n',classification_report(y_test, y_pred))
print ('\n')
print('Accuracy_score: ','\n',accuracy_score(y_test, y_pred))

Confusion_matrix:
 [[1723  306]
 [ 284   82]]


Classification_report:
               precision    recall  f1-score   support

           0       0.86      0.85      0.85      2029
           1       0.21      0.22      0.22       366

    accuracy                           0.75      2395
   macro avg       0.53      0.54      0.54      2395
weighted avg       0.76      0.75      0.76      2395



Accuracy_score:
 0.7536534446764092

## Applying k-Fold Cross Validation

In [12]:
from sklearn.model_selection import cross_val_score
accuracies = cross_val_score(estimator = classifier, X = X_train, y = y_train, cv = 10)
print("Accuracy: {:.2f} %".format(accuracies.mean()*100))
print("Standard Deviation: {:.2f} %".format(accuracies.std()*100))

Accuracy: 73.46 %
Standard Deviation: 1.22 %